<h1>投稿一覧</h1>

<!--eachメソッドによりListレコードの数だけ繰り返し処理を行う-->
<!--各レコードの内容はlistという変数に格納-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!--list.[カラム名]と記述することでレコードのカラムの内容を表示-->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

<% end %>